#ItinerariesPage {
    margin-top: 59px;
    height: 200vh;
    background-image: url("../assets/paper2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: black;
}

#ItinerariesPage h2 {
    padding-top: 1em;
    font-size: 2em;
    text-shadow: 2px 2px white;
}


#itineraries-paragraph {
    width: 90%;
    margin: 1em auto;
    text-align: center;
    font-size: 1.2em;
    text-shadow: 2px 2px white;

}

.itineraries-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itinerary {
    border: var(--accent-red) 1px solid;
    width: 90%;
    text-align: center;
    margin: 0.3em 0px;
}

.itinerary-title {
    padding: 0.5em;
    font-size: 1.3em;
    color: black;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.itinerary-title:hover {
    background: var(--accent-red);
    color: white;
}

.itinerary-pic {
    height: 30vh;
}

.tibet {
    background-image: url("../assets/tibet1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.yangtze {
    background-image: url("../assets/yangtze.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.spring-break {
    background-image: url("../assets/forbidden-city1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 758px) {
    .itinerary {
        margin: 1em auto;
    }

    #ItinerariesPage h2 {
        font-size: 2.5em;
    }

    #itineraries-paragraph {
        font-size: 1.5em;
    }

    .itinerary-title {
        padding: 1em;
        font-size: 1.8em;
    }

    .itinerary-pic {
        height: 40vh;
    }
}