#WhyUs {
    margin: 59px auto;
    width: 80%;
}

#WhyUs h2 {
    padding-top: 1em;
    font-size: 2em;
    text-shadow: 2px 2px white;
}

#WhyUs p {
    margin: 1em auto;
    padding: 1em;
    text-align: left;
    font-size: 1.2em;
    text-shadow: 2px 2px white;
}

#WhyUs span {
    color: var(--accent-red);
    font-weight: bolder;
}

#membership {
    margin: 1em auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    height: 40vh;
}

.gbta {
    height: 100%;
    background-image: url(../assets//gbta.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.etc {
    height: 100%;
    background-image: url(../assets//etc.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#membership a {
    height: 100%;
}

@media screen and (min-width: 768px) {
    #membership {
    flex-direction: row;
}
    #membership a {
    width: 50%;
}
}