#ContactBar {
    display: flex;
    flex-direction: row;
    background: var(--navbar-gray);
    color: white;
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: var(--navbar-border);
    top: 0;
    transition: top 0.3s;
}

.contact-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--accent-red);
}

.contact-container:hover {
    background: transparent;
    border: 1px solid white;
}

.contact div {
    font-size: 0.8em;
    margin-left: 20px;
}

h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.2em;
    width: 50%;
    height: 100%;
}

h1 button {
    height: 100%;
    width: 100%;
    text-align: center;
    color: inherit;
    background: var(--accent-red);
    font-weight: bolder;
    outline: none;
    cursor: pointer;
}

#ContactBar button:hover {
    background: transparent;
    border: 1px solid white;
}

@media only screen and (min-width: 758px) {
    h1 {
        font-size: 2em;
    }
    .contact div {
    font-size: 1.2em;
}
}