#visa-body {
    background-image: url("../assets/passport1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#visa-services {
    color: white;
    margin-top: 59px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
}

#visa-title {
    margin: 1em auto;
    padding: .5em;
    border: #E3AD6E 1px solid;
    border-radius: 2px;
    width: 70%;
}

 #visa-paragraph {
     padding-left: 1em;
     margin: auto;
     width: 90%;
    }


@media screen and (min-width: 768px) {

    #visa-title {
        font-size: 2em;
    }

    #visa-paragraph {
        font-size: 1.2em;
    }

}
