* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --accent-red: rgba(194, 43, 43, 0.623);
  --navbar-gray: rgba(106, 112, 106, 0.3);
  --navbar-border: 1px solid rgba(229, 233, 229, 0.801);
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 1em;
  width: 50%;
  margin: auto;
}

h2 {
  color: #173867;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}