#NavBarBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--navbar-gray);
    border-top: var(--navbar-border);
    height: 35px;
    transition: bottom 0.3s;
}

#NavBarBottom li {
    width: calc(100% / 3);
    text-align: center;
    color: white;
    list-style-type: none;
    height: 100%;
}

#NavBarBottom li a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
}

#NavBarBottom li:hover {
    background: var(--accent-red);
    /* border: 1px solid white; */
}

@media only screen and (min-width: 768px) {
    #NavBarBottom li a {
        font-size: 1.8em;
    }

    #NavBarBottom {
        height: 45px;
    }
}